/* HEADER */
/* HEADER */
.kfc-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
}

.kfc-logo {
    height: 140px;
}

/* Ajustes mobile */
@media (max-width: 576px) {
    .kfc-logo {
        height: 100px;
    }

    .header-controls select {
        width: 100%;
    }
}



.product-card {
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.product-image {
    max-height: 260px;
    object-fit: contain;
    padding: 20px;
}

.price {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.product-title {
    font-weight: 600;
    font-size: 1.1rem;
}

.product-description {
    font-size: 0.9rem;
    color: #6c757d;
}

.btn-buy {
    background-color: #dc3545;
    border: none;
}

.btn-buy:hover {
    background-color: #bb2d3b;
}
