.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.kfc-logo {
    height: 140px;
}

/* Ajustes mobile */
@media (max-width: 576px) {
    .kfc-logo {
        height: 100px;
    }
}

.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary:hover{
    background-color: #b11c2b;
    border-color: #dc3545;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mb-3 {
    margin-bottom: 1rem;
}
#advice{
    text-align: center;
}
